  <header class="site-header sticky-top">
    <nav class="navbar  navbar-dark bg-dark" style="padding: 0; font-family: Gadeg Bold Personal;">
      <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"-->
        <div class="container-fluid" style="background: #202124">
       
          <a class="navbar-brand" href="/user/management" style="padding-left: 5rem;">
            <%= image_tag("ED-LOGO-TRADER-OK.png", :alt => "", :width => "160", :class=> "d-inline-block align-text-top") %>
          </a>
          
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel" style="background: rgb(33, 37, 41);">
      <div class="offcanvas-header" style="border-bottom: 10px solid white; margin-top: 0.89rem;">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
        <hr>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/user/income_new">Inserir Rendimnento</a>
          </li>
          <hr>
          <li class="nav-item">
            <a class="nav-link" href="/user/admin_new">Adicionar Admin</a>
          </li>
          <hr>
          <li class="nav-item">
            <a class="nav-link" href="/user/contract_new">Criar Contrato</a>
          </li>
          <hr>
          <li class="nav-item">
            <a class="nav-link" href="/user/list">Editar Contrato</a>
          </li>
          <hr>
          <li class="nav-item">
            <a class="nav-link" href="#">Atualizar Dados Cadastrais</a>
          </li>
          <hr>
          <!--li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li-->
        </ul>
        
      </div>
    </div>
            

            <a href=<%= destroy_user_session_path %> data-method="delete" class="btn btn-outline-success" style="color: white; border: 2px solid green; border-radius: 90px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg>
              Sair
            </a >
          </div>
        </div>
    </nav>
  </header>