<%= render 'pages/private_user/header2' %>
<p id="notice"><%= notice %></p>

<section class="how-it-works-sec" id="index_user" style="height: 100%">
  <div class="container">


  </div>
</section>