  
  <header class="site-header sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 0; font-family: Gadeg Bold Personal;">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <div class="container-fluid" style="background: #202124">
          <a class="navbar-brand" href="#" style="padding-left: 5rem;">
            <%= image_tag("ED-LOGO-TRADER-OK.png", :alt => "", :width => "160", :class=> "d-inline-block align-text-top") %>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <div class="navbar-nav me-auto mb-2 mb-lg-0">
            <a href="#" class="btn btn-outline-success my-2 my-sm-0" style="border-radius: 10px;">Home</a>
            <a href="#sobre" class="btn btn-outline-success my-2 my-sm-0" style="border-radius: 10px;">Sobre</a>
            <a href="#faq" class="btn btn-outline-success my-2 my-sm-0" style="border-radius: 10px;">FAQs</a>
            <a href="#contatos" class="btn btn-outline-success my-2 my-sm-0" style="border-radius: 10px;">Contatos</a>
            </div>
            <a href="/users/sign_in" class="btn btn-outline-success" style="color: white; border: 2px solid green; border-radius: 90px;">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg>
              Entrar
            </a >
          </div>
        </div>
    </nav>
  </header>