@import "sign-in2.scss";
@import "pages/home.scss";
@import "pages/carousel.scss";
@import "pages/contatos14.scss";
@import "pages/sobre1.scss";
@import "pages/faq7.scss";
@import "private_user/income_new";

body {
  padding-top: 0rem;
  padding-bottom: 0.5rem;
  height: -webkit-fill-available;
  section, main{ 
    background: linear-gradient(5deg, #060b08, #0c2e1efc);
  }
}