@import "sign_in";
@import "pages/home.scss";
@import "pages/carousel.scss";
@import "pages/contato.scss";
@import "pages/sobre1.scss";
@import "pages/faq7.scss";

body {
  padding-top: 0rem;
  padding-bottom: 0.5rem;
  background: linear-gradient(5deg, #060b08, #0c2e1efc);
}
